@color:pink;

body{
    background:@color;
    font-family:'openSans';
    font-weight:normal;
}

.salut(x,y){
    top:@x;
    left:@y;
}

@font-face{
    font-family:'openSans';
    src:url('fonts/OpenSans-Bold.ttf');
    font-style:normal;
    font-weight:bold;
}

@font-face{
    font-family:'openSans';
    src:url('fonts/OpenSans-Regular.ttf');
    font-style:normal;
    font-weight:normal;
}
